<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>CS2Browser - Launcher > Settings</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col">
                <label>Location of the steam executable</label>
                <div class="input-group mb-3">
                    <label class="input-group-text" for="inputGroupFile01">Steam.exe</label>
                    <input type="text" class="steam-executable" id="steamExecutable" style="width:80%">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label>Location of the CS2 directory</label> <p style="font-size: 10px">Example: C:\Program Files\Steam\steamapps\common\Counter-Strike Global Offensive\game\csgo</p>
                <div class="input-group mb-3">
                    <label class="input-group-text" for="inputGroupFile01">CS2</label>
                    <input type="text" class="cs2-directory" id="cs2Directory" style="width:89%">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col text-end">
                <button type="button" class="btn btn-primary" id="saveSettings">Save settings</button>
            </div>
        </div>
    </div>
</body>
</html>
