<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
</head>
<body>
    <div id="vueapp" class="container-fluid">    
        <div id="serverListMain" class="row" style="height: 95vh; overflow-y: auto; background-color: #23262e; padding:0px 5px 0px;">
            <div class="col p-0">
                <table id="serverList" class="table table-hover table-dark sortable">
                    <thead>
                      <tr>
                        <th scope="col" class="clickable" id="serverListSortByName" @click="changeServerListSorter('hostname')">Servers <span class="chevron"></div></th>
                        <th scope="col" class="clickable" id="serverListSortByMap" @click="changeServerListSorter('map')">Map <span class="chevron"></div></th>
                        <th scope="col" class="clickable" id="serverListSortByPlayers" @click="changeServerListSorter('players')">Players <span class="chevron"></div></th>
                      </tr>
                    </thead>
                    <tbody style="cursor: pointer">
                        <tr v-for="server in serverListInfo" v-on:click="selectServer(event, server)" v-on:dblclick="doubleClickHandler(event, server)" v-bind:class="highlightOrNot(server)">
                            <td>{{server.hostname}}</td>
                            <td>{{server.map}}</td>
                            <td>{{server.players}} / {{server.maxPlayers}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!-- 
        <div style="position: absolute; bottom: 0;">
            <div class="row">
                <div class="col text-right" style="background-color: #f0f0f0;">
                    <p style="display: inline-block">Texto informativo aquí</p>
                    <button class="btn btn-primary">JOIN</button>
                </div>
            </div>
        </div>-->
        <div style="height: 5vh;">
            <div class="row">
                <div class="d-flex justify-content-between align-items-center" style="background-color: #323539; position: absolute; bottom: 0; color: #fff">
                    <span href="#" class="list-group-item flex-column align-items-start">
                        <button id="refreshServerList" class="btn btn-secondary" type="button">
                            <i id="refreshIcon" class="fas fa-rotate"></i>
                        </button>
                    </span>
                    <div class="row">
                        <div class="col-md-6">
                            <select id="filterType" v-model="filterType" class="form-control">
                                <option value="hostname">Server name</option>
                                <option value="map">Map name</option>
                            </select>
                        </div>
                        <div class="col-md-6">
                            <input type="text" id="filterText" v-model="filterText" class="form-control" placeholder="Search text">
                        </div>
                    </div>
                    
                    <div class="p-2">
                        <button id="enterServerStatus" class="btn btn-primary primaryButton" disabled>
                            Play
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
